<h2><%= @user.login %></h2>

<ul>
	<li> email: <%= @user.email %></li>
	<li> Наименование компании: <%= @user.company_name %></li>
	<li> ФИО контактного лица: <%= @user.contact_fio %></li>
	<li> Телефон: <%= @user.telephone %></li>
	<li> Адрес сайта: <%= @user.site_name %></li>
</ul>