<h2><%= @ticket.title %></h2>

<ul>
	<li> Описание: <%= @ticket.content %></li>
	<li> ФИО администратора: <%= @ticket.admin_fio %></li>
	<li> Статус: <%= @ticket.status %></li>
</ul>

<% if user_signed_in? && current_user.admin == true %>   
	<%= link_to "Редактировать", edit_ticket_path, class: "btn btn-default" %>
<% end %> 

<h2>Comments</h2>
<% @ticket.comments.each do |f| %>
  <p>
    <%= f.user %>: <%= f.body %>
  </p>
<% end %>

<h2>New comment</h2>
	<%=form_for ([@ticket, @ticket.comments.build]) do |f| %>
	  <%= f.text_area :body %> <br>
	  <%= f.submit "Сохранить"%>
	<% end %>



